.switch {
  display: flex;
  flex-direction: column;
  padding: 20rpx;
  .text {
    margin: auto;
    margin-top: 200rpx;
    font-size: xx-large;
    border: 5rpx solid red;
    padding: 15rpx;
  }
  .search-box {
    margin-top: 40rpx;
    display: flex;
    flex-direction: row;
    border: 15rpx #818aff dashed;
    justify-content: space-between;
    height: 300rpx;
    align-items: center;
    .search-input {
    }
    .search-icon {
      .image {
        width: 250rpx;
      }
    }
  }
}
